{% extends 'base.html' %}

{% load static %}



{% block head_title %}Brands | {{block.super}}{% endblock head_title %}


{% block content %}


    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Brands</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Brands</li>
                    </ol>
                </div>
                
            </div>
        </div>
    </div>     
    <!-- end page title -->


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <div class="search-box mr-2 mb-2 d-inline-block">

                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-right">
                                <a href="{% url 'main_app:brand-add' %}">
                                    <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i> Add Brand</button>
                                </a>
                            </div>
                        </div><!-- end col-->
                    </div>


                    <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                        </tr>
                        </thead>


                        <tbody>
                            {% for brand in brands %}
                                <tr>
                                    <td>
                                        <h5 class="text-truncate font-size-14">
                                            <a href="{% url 'main_app:brand-edit' brand.slug %}" class="text-dark">{{ brand.name }}</a>
                                        </h5>
                                    </td>
                                    <td>{{ brand.created_at|date:"F j, Y" }}</td>
                                </tr>
                            {% endfor %}
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- end col -->
    </div> 
    <!-- end row -->
{% endblock %}